.pageContainer {
  background: conic-gradient(
    from var(--angle),
    rgba(231, 227, 191, 0.5),
    rgba(171, 171, 227, 0.8),
    rgba(227, 162, 162, 0.3),
    rgba(205, 122, 122, 0.184)
  );
  animation: colors 25s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.countryName {
  animation: opacity-load 300ms linear;
  transition: opacity 1s linear;
}

.widgetsContainer {
  animation: opacity-load 500ms linear;
  transition: opacity 1s linear;
}

@keyframes colors {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes opacity-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
